<div>
  <h2>Create a Blog Contribution.</h2>
  <form class="form newpost-form">
    <div>
      <label for="title-new-post">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-post"
        placeholder="Enter a title of your choice"
      />
    </div>
    <div>
      <label for="content-new-post" class="form-label">Content:</label>
      <textarea
        class="form-control"
        id="content-new-post"
        rows="5"
        placeholder="Enter content here"
      ></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
  </form>
</div>

<script src="/js/post.js"></script>